*{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Helvetica', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-auto-flow: row;
    background-color: #1d1d1d;
}

header{
    display: grid;
    align-content: center;
    height: 5rem;
    background-color: #1d1d1d;
    padding: 1rem 0;
}

header h1{
    font-family: 'Helvetica';
    font-size: 2rem;
    text-align: center;
}

nav {
    display: grid;
    width: 100%;
    box-shadow: 0 0 6px 1px #cf0e0e;
    position: sticky;
    top: 0;
    background-color: #1d1d1d;
}

nav div {
    display: none;
    grid-auto-flow: row;
}

nav > div > a{
    text-align: center;
    text-decoration: none;
    color:#ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background-color 200ms ease-in-out;
}

nav > div > a:hover, a.active{
    background-color: #a71010;
}

nav > img{
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    justify-self: end;
}

nav > img:hover{
    cursor: pointer;
}

.show{
    display: grid;
}

section{
    display: grid;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-auto-flow: row;
    transition: background-size 1s;
}

section *{
    place-self: center;
}

.egypt {
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/egypt/egypt10.jpg');
}

.mesopotamia{
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/mesopotamia/meso7.JPG');
}

.greece{
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/greece/greek9.jpg');
}

.rome{
    background-image: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url('../images/rome/rome10.jpg');
}

section h2 {
    font-size: 2rem;
    text-align: center;
    transition: all 1s;
}

section:hover h2 {
    color: #ff0000;
}

section p {
    font-size: 1.5rem;
    text-align: center;
}

section .btn {
    display: grid;
    align-content: end;
    justify-content: center;
}

section .btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3rem;
    padding: 0.7rem 1.4rem;
    border-radius: 1rem;
    border: 1px solid #ffffff;
    transition: all 1s;
}

section .btn a:hover {
    background-color: #ff0000;
}

body > div, body > div > div {
    display: grid;
}

body > div h1, body > div h2 {
    text-align: center;
}

nav + div h1 {
    color: #ff0000;
}

body > div {
    display: grid;
    grid-auto-flow: row;
    margin: 2rem 1rem;
}

body > div img {
    width: 100%;
    height: auto;
    place-self: center;
}

body > div > ol, body > div > ul {
    place-self: center;
}

body > div  * {
    margin: 1rem 0;
}

ol li, ul li, p {
    font-size: 1.3rem;
    line-height: 2rem;
    margin: 0 0 0 2rem;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #a71010;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #790202;
}

@media (min-width:800px){
    section{
        height: 70vh;
    }

    section > p{
        font-size: 2rem;
    }

    section > h2{
        font-size: 3rem;
    }

    nav div{
        display: grid;
        grid-auto-flow: column;
    }
    nav > img{
        display: none;
    }
    section .btn {
        justify-content: end;
    }
    body > div img {
        max-width: 800px;
    }
    body > div + div {
        display: grid;
        grid-template-areas:
        "title title title"
        "parag parag image"
        "list list image";
        max-width: 1200px;
        place-self: center;
    }
    body > div h2 {
        grid-area: title;
    }
    body > div > img {
        grid-area: image;
        place-self: unset;
        margin: 1rem;
    }
    body > div > p {
        grid-area: parag;
    }
    body > div > ol, body > div > ul  {
        grid-area: list;
        place-self: start;
    }

    .arch {
        grid-auto-flow: row;
    }

    .arch div {
        display: grid;
        grid-auto-flow: row;
        padding: 1rem;
    }

    .arch div img {
        max-height: 400px;
        width: auto;
    }

    .arch div h3, .arch div p {
        text-align: center;
    }

}


